---
layout: midnight-content-wrapper
---

<!-- Header grid -->
<div id="title" class="author-description short-title">
  <!-- Variables from _config.yml -->
  <h1>Joseph Micheli</h1>
  <p class="subtitle">
    A guided tour of <a href="https://github.com/jmicheli" target="_blank">github.com/jmicheli</a>
  </p>
  <!-- Image -->
  <div class="image-container">
    <img
      src="{{ '/assets/images/author_photo.png?v=' | append: site.github.build_revision | relative_url }}"
      class="portrait-image padding-small"
    />
  </div>
  <!-- Written description -->
  <p>
    This index provides links to my projects along with more detailed descriptions of the
    technologies involved and the challenges traversed in each.
  </p>

  <p>
    While GitHub is designed for quick access to code by developers, this page is intended for
    readers browsing for big-picture insight into the solutions I've employed in each of these
    projects.
  </p>
</div>

<hr />

<div class="md-text-content">{{content}}</div>

<br />

<div id="footer">
  <!-- A little divider -->
  <hr />

  <!-- Left half of footer -->
  <div class="credits left">
    <span
      >Project maintained by
      <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span
    >
  </div>

  <!-- Right half of footer-->
  <div class="credits right">
    <span
      >Style based on the
      <a href="https://github.com/pages-themes/midnight">Midnight Theme</a></span
    >
  </div>
</div>
