section #footer { border: 0; outline: none; margin: 0 0 25px 0; padding: 0 0 5px 0; }
section #footer h1 { font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 40px; text-align: center; line-height: 36px; }
section #footer p { color: #d7cfbe; font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 18px; text-align: center; }
section #footer .credits { font-size: 11px; font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; color: #696969; margin-top: -10px; }
section #footer .credits.left { float: left; }
section #footer .credits.right { float: right; }

.wide-wrapper {
  max-width: 900px;
}

#title.short-title {
  margin: 0 0 25px 0;
}

img.portrait-image {
  max-width: 300px;
  border-radius: 50%;
}
